<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dixte Reader - v0.0.1</title>

	<link rel="stylesheet" href="vendor/css/bootstrap.min.css">
	<link rel="stylesheet" href="vendor/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/reader.css">

	<script src="nwReader.js"></script>

	<script src="vendor/js/underscore.js"></script>
	<script src="vendor/js/jquery.js"></script>
	<script src="vendor/js/angular.js"></script>

	<script src="src/Reader.js"></script>
	<script src="src/core/TextConsumer/TextConsumerService.js"></script>
	<script src="src/core/TextTimer/TextTimerService.js"></script>
	<script src="src/Viewer/ViewerController.js"></script>
	<script src="src/Viewer/ViewerDirective.js"></script>
</head>
<body ng-app="Reader">
	<div ng-controller="ViewerController" class="container">

		<div class="viewer-shadow"></div>
		<viewer word="currentWord" playing="playing", playing-offset="readingTimeOffset"></viewer>

		<hr>
		<div class="toolbar row">
			<div class="col-md-4 col-xs-4 col-sm-4">
				<button class="btn btn-primary" ng-click="togglePlay()">
					<span ng-show="!playing" class="glyphicon glyphicon-play"></span>
					<span ng-show="playing" class="glyphicon glyphicon-pause"></span>
				</button>
				<button class="btn btn-primary" ng-click="increaseFont()">+</button>
				<button class="btn btn-primary" ng-click="decreaseFont()">-</button>

			</div>
			<div class="col-md-4 col-xs-4 col-sm-4">
				<label>
					<input type="checkbox" ng-model="minimizeOnFinish">
					<span class="small">Minimize after reading</span>
				</label>
			</div>
			<div class="col-md-4 col-xs-4 col-sm-4">
				<select class="form-control" ng-options="wpm for wpm in wpms" ng-model="wpm">
			</div>
		</div>
	</div>
</body>
</html>